@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
}

#container {
    width: 100%;
	height: 100%;
	border: 2px solid;
	
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#left {
	width: 30%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	text-align: center;
	background-image: url(../_img/tile.png);
}

#box-left{
	width: 80%;
	padding: 10px;
	display: inline-block;
	margin-top: 5%;	
	text-align: center;
	border: 2px solid;
	background-color: #fff;
}

#center {
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
	overflow-y: scroll;
	background-image: url(../_img/tile.png);
}

#right {
	width: 30%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	text-align: center;
	background-image: url(../_img/tile.png);
}

#box-right{
	width: 80%;
	padding: 10px;
	display: inline-block;
	margin-top: 5%;	
	text-align: center;
	border: 2px solid;
	background-color: #fff;
}

#box-right-shop{
	width: 80%;
	height: 50%;
	padding: 10px;
	display: inline-block;
	text-align: justify;
	margin-top: 10px;	
	border: 2px solid;
	background-color: #fff;
}

#footer {
    clear: both;
    position: fixed;
    height: 4em;
    margin-top: -4em;
	text-align: center;
	text-transform: uppercase;
	
	visibility: hidden;
}

#coin:hover{
	transform: scale(0.90);
	opacity: 1;
	cursor: pointer;
}

#coin:active{
	transform: scale(0.85);
}

.coin-top{
	width: 80%;
	padding: 10px;
	display: inline-block;
	margin-top: 5%;
	background-color: #fff;
	text-align: center;
	border: 2px solid;
}

#coin-qt{
	border: 2px solid;
	padding: 5px;
}

#reset-count{
}